@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/Lato-Black.ttf');
}
body{
  width: 1020px;
  margin: 0 auto;
  position: relative;
}
.main_section{
  height: 649px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.main_wrapper{
  width: 940px;
  margin: auto;
}
h1{
  margin: 0;
  font-family: 'Lato Black';
  padding-top: 58px;
  font-size: 30px;
  color: #f0d8d9;
  
}
.main_wrapper_text{
  margin: 0;
  padding-top: 18px;
  font-family: 'Lato Light';
  font-size: 18px;
  color: #f0d8d9;
  text-align: justify;
  line-height: 1.7;
}
.flex_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 940px;
  margin-top: 44px;
  
}
form{
  width: 620px;
}
input{
  width: 620px;
  height: 35px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color:#d6564f;
  border: none;
}
textarea{
  width: 617px;
  height: 199px;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  border: none;
}
input::placeholder{
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f08586;
  padding-left: 15px;
}
textarea::placeholder{
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f08586;
  padding-left: 12px;
  padding-top: 10px;
}
button{
  margin-top: 10px;
  font-family: 'Lato Regular';
  color: #f0d8d9;
  background-color: #f06c64;
  border-radius: 4px;
  border: 2px solid #d6564f;
  font-size: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  float: right;
  
}
button:hover{
  background-color: #d6564f;
}

.information_wrapper{
  width: 300px;
}
h3{
  margin: 0;
  font-family: 'Lato Black';
  font-size: 18px;
  color:#f0d8d9;
  margin-top: -3px;
}
.information_text{
  margin: 0;
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f0d8d9;
  padding-top: 9px;
  text-align: justify;
  line-height: 1.82;
  letter-spacing: -0.0138em;
}
.location{
  padding-top: 29px;
  padding-left: 3px;
}
.text_location{
  margin: 0;
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f0d8d9;
  padding-left: 10px;
}
.contac_info_div p{
  margin: 0;
}
.contact_number{
  padding-top: 6px;
  padding-left: 1px;
}
.phone-number{
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f0d8d9;
  text-decoration: none;
  padding-left: 7px;
}
.mail{
  padding-top: 10px;
  padding-left: 1px;
}
.e_mail{
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#f0d8d9;
  text-decoration: none;
  padding-left: 5px;
}
.footer{
  background-color: #2d303a;
  height: 75px;
}
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 940px;
}
.footer_container p{
  margin: 0;
  font-family: 'Lato Regular';
  font-size: 12px;
  color:#575d74;
  padding-top: 30px;
}
.social_footer{
  margin-top: 20px;
  width: 150px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
