@font-face {
  font-family: "Lato Light";
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato-Black.ttf");
}

body {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}
.header {
  z-index: 3;
  top: 0;
  font-family: "Lato Regular", sans-serif;
  font-weight: bold;
  position: sticky;
  background-color: #2d303a;
  text-transform: uppercase;
  height: 89px;
  border-bottom: 6px solid #323746;
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.singolo {
  position: absolute;
  margin: 8px 0 0 39px;
  font-size: 25px;
  color: #ffffff;
  text-align: justify;
}
.sandwich-container{
  visibility: collapse;
}
/* Rotate first bar */
.change .bar1 {
  transform: rotate(90deg)  translate(9px,-8px) ;
}

/* Fade out the second bar */
.change .bar2 {
  transform: rotate(90deg) ;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(90deg) translate(-8px,8px);
}
.slider {
  height: 594px;
  position: relative;
  border-bottom: 6px solid rgb(234, 103, 107);
}
.slider-container{
  overflow: hidden;
  height: 594px;
  position: relative;
}
.first-slide{
  background-color: #f06c64;
  height: 594px;
  position: absolute;
  
  z-index: 1;
}
.second-slide{
  position: absolute;
  z-index: 1;
}      
.displayLeft{
  animation-name: bounce-2;
  animation-timing-function: linear;
  animation-duration: 0.5s; 
  z-index: 2;
}
@keyframes bounce-2 {
  0%   { transform: translateX(-1020PX); }
  100%  { transform: translateX(0); }
}
.displayRight{
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 0.5s; 
  z-index: 2;
}

@keyframes bounce-1 {
  0%   { transform: translateX(+1020PX); }
  100%  { transform: translateX(0); }
}

.displayNone{
  display: none;
  visibility: hidden;
}

.activeImg{
  outline: #F06C64 solid 5px;
}

.chev {
  position: absolute;
  vertical-align: middle;
  margin-left: 42px;
  margin-top: 281px;
  z-index: 2;
}
.chev:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.iphone-vertical {
  margin-top: 53px;
  vertical-align: middle;
  margin-left: 112px;
  position: absolute;
}
.iphone-black-vertical {
  margin-top: 53px;
  vertical-align: middle;
  margin-left: 112px;
  position: absolute;
}
.iphone-horizontal {
  position: absolute;
  vertical-align: middle;
  margin-left: 425px;
  margin-top: 174px;
}
.iphone-black-horizontal {
  position: absolute;
  vertical-align: middle;
  margin-left: 425px;
  margin-top: 174px;
}
.displayNone{
  display:none;
}


.chev-2 {
  vertical-align: middle;
  margin-top: 281px;
  transform: rotateY(180deg);
  position: absolute;
  margin-left: 964px;
  z-index: 2;
}

.chev-2:hover {
  cursor: pointer;
  transform: scale(1.5) rotate(180deg);
}

.nav {
  float: right;
  margin: 14px 0 0;
  position: relative;
  width: auto;
  width: 452px;
}
.container-nav {
  position: relative;
  list-style: none;
}
.container-nav li {
  float: left;
  padding-right: 10px;
  color: #ffffff;
  font-size: 12px;
}

.colorf06c64 {
  color: #f06c64;
}

p span {
  color: #494e62;
  padding-left: 13px;
}
.container-nav li .active {
  color: #f02c64;
}

.filter-options-li .active{
  color: #ffffff;
  border-color:#ffffff ;
}
.container-nav a{
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}
.container-nav a:hover {
  cursor: pointer;
} 
.services {
  
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: 6px solid #ffffff;
}

.text-1 {
  font-family: "Lato Black";
  font-size: 30px;
  padding-top: 61px;
  margin: 0;
}
.text-2 {
  font-family: "Lato Light";
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  margin: 0;
  padding-top: 16px;
}
.services-container {
  max-width: 940px;
  
}
.img-services-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.img-services-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 18px;
}

.col-2 {
  width: 220px;
}

.text-3 {
  font-family: "Lato Black";
  font-size: 18px;
  margin: 0;
}
.text-4 {
  font-family: "Lato Regular";
  font-size: 12px;
  text-align: justify;
  line-height: 21px;
  margin-top: 9px;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}
.icon {
  padding-top: 10px;
  margin-top: -47px;
}

.portfolio-div {
  height: 863px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.portfolio-section {
  margin: 0 auto;
  height: 864px;
  padding: 48px 40px;
}
.portfolio-section {
  border-bottom: 6px solid #323746;
}
.portfolio-header {
  color: #666d89;
  font-family: "Lato Black";
  font-size: 30px;
  line-height: 17.86px;
  margin: 0;
  padding-top: 20px;
}
.portfolio-description {
  margin-top: 27px;
  margin-bottom: 0px;
  font-family: "Lato Light";
  line-height: 30px;
  color: #767e9e;
  font-size: 18px;
  word-spacing: 0.01em;
}
.nav-filter {
  padding-top: 13px;
  height: 22px;
  width: 288px;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.filter-options-li {
  display: inline-block;
}
.filter-options-li button {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #767e9e;
  border-radius: 5px;
  background-color: #323746;
  border: 2px solid #767e9e;
  transition-duration: 0.4s;
}
.filter-options-li button:hover {
  border: 2px solid white;
  color: white;
}
/* .filter-options-li span {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #767e9e;
  transition-duration: 0.4s;
}
.filter-options-li span:hover {
  color: white;
} */
.picture-block {
  margin-top: 18px;
  height: 601px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  /* overflow: hidden; */
}
.portfolio-img:nth-child(n + 13) {
  display: none;
}
.about-us-section-div {
  background-color: #f2f2f2;
  height: 728px;
  border-bottom: 6px solid #ffffff;
}

.about-us-header {
  font-family: "Lato Black";
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-top: 59px;
  color: #666d89;
}
.about-us-desctiption {
  width: 940px;
  font-family: "Lato Light";
  color: #666d89;
  font-size: 18px;
  text-align: justify;
  margin-left: 40px;
  margin-top: 18px;
  line-height: 1.7;
}
.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 443px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
}
.team-member {
  width: 300px;
}
.team-member-name {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
  margin-top: 11px;
  margin-left: -1px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.team-member-description {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #666d89;
  margin-top: 8px;
  margin-left: -1px;
  width: 302px;
  line-height: 1.8;
  text-align: justify;
}
.team-member-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  padding-left: 0px;
  margin-top: 24px;
  margin-left: 3px;
}
.team-member-li {
  list-style-type: none;
}

.main_section {
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.main_wrapper {
  max-width: 940px;
  margin: auto;
}
.main_wrapper h1 {
  margin: 0;
  font-family: "Lato Black";
  padding-top: 58px;
  font-size: 30px;
  color: #f0d8d9;
}
.main_wrapper_text {
  margin: 0;
  padding-top: 18px;
  font-family: "Lato Light";
  font-size: 18px;
  color: #f0d8d9;
  text-align: justify;
  line-height: 1.7;
}


.flex_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  max-width: 940px;
  
}
form {
  width: 620px;
}
input {
  width: 620px;
  height: 35px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
}
textarea {
  width: 617px;
  height: 199px;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  border: none;
}
input::placeholder {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f08586;
  padding-left: 15px;
}
textarea::placeholder {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f08586;
  padding-left: 12px;
  padding-top: 10px;
}
.content_button {

  font-family: "Lato Regular";
  color: #f0d8d9;
  background-color: #f06c64;
  border-radius: 4px;
  border: 2px solid #d6564f;
  font-size: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  float: right;
}
.content_button:hover {
  background-color: #d6564f;
}

.information_wrapper {
  max-width: 300px;
}
#message-block{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0008;
  z-index: 4;
}
#message-block.hidden{
  display:none;
}
#message{
  width: 300px;
  overflow: hidden;
  margin: 330px auto;
  border: 2px solid black;
  text-align: center;
  background-color: coral;
}
h3 {
  margin: 0;
  font-family: "Lato Black";
  font-size: 18px;
  color: #f0d8d9;
  margin-top: -2px;
}
.information_text {
  margin: 0;
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f0d8d9;
  padding-top: 9px;
  text-align: justify;
  line-height: 1.82;
  letter-spacing: -0.0138em;
}
.location {
  
  padding-left: 3px;
}
.text_location {
  margin: 0;
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f0d8d9;
  padding-left: 10px;
}
.contac_info_div p {
  margin: 0;
}
.contact_number {
  padding-top: 6px;
  padding-left: 1px;
}
.phone-number {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f0d8d9;
  text-decoration: none;
  padding-left: 7px;
}
.mail {
  padding-top: 10px;
  padding-left: 1px;
}
.e_mail {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f0d8d9;
  text-decoration: none;
  padding-left: 5px;
}
.footer {
  background-color: #2d303a;
  height: 76px;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 940px;
}
.footer_container p {
  margin: 0;
  font-family: "Lato Regular";
  font-size: 12px;
  color: #575d74;
  
}
.social_footer {
  width: 150px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media(min-width:1020px){
  .services{
    height: 494px;
  }
.services-container {
  margin: 0 40px 0 40px;
  }
  .col-2{
    display: inline-block;
    padding-left: 17px;
  }
  .first-slide{
    width: 1020px;
  }
  .img-services-container-1{
    align-content: space-between;
    flex-wrap: wrap;
    width: 940px;
    height: 228px;
    padding-top: 43px;
  }
  .img-services-container-1>div{
    width: 300px;
    height: 104px;
  }
  .icon{
    margin-bottom: 43px;
  }
  .portfolio-div{
    width: 1020px;
    height: 864px;
  }
  .picture-block{
    width: 940px;
    height: 601px;
  }
  .content_button{
    margin-top: 10px;
  }
  .flex_content{
    margin: 0;
    margin-top: 44px;
  }
  .location{
    padding-top: 29px;
  }
  .footer_container{
    margin: auto;
  }
  .social_footer{
    margin-top: 20px;
  }
  .footer_container p{
    padding-top: 30px;
  }
}

@media (max-width:1019px){
  .header{
    min-width: 768px;
  }
  .singolo{
    margin-top: 9px;
    position: absolute;
  }
  .nav{
    margin-top: 13px;
  }
  .slider{
    min-width: 768px;
    height: 446px;
  }
  .slider-container{
    min-width: 768px;
    height: 446px;
  }
  .first-slide{
    min-width: 768px;
    height: 447px;
    width: 100%;
  }
  .iphone-vertical{
    width: 180px;
    height: 363px;
    margin-left: 10.94%;
    margin-top: 41px;
  }
  .iphone-horizontal{
    height: 180px;
    width: 363px;
    margin-left: 41.54%;
    margin-top: 135px;
  }
  .iphone-black-vertical{
    width: 180px;
    height: 363px;
    margin-left: 10.94%;
    margin-top: 43px;
  }
  .iphone-black-horizontal{
    height: 180px;
    width: 363px;
    margin-left: 41.54%;
    margin-top: 135px;
  }
  .chev{
    margin-left: 32px;
    margin-top: 213px;
  }
  .chev-2{
    margin-left: 94.53%;
    margin-top: 213px;
  }
  .second-slide-phone{
    min-width: 768px;
    height: 447px;
    width: 100%;
  }
  .services{
    min-width: 768px;
    height: 674.62px;
    border-bottom: none;
  }
  .services-container{
    margin: 0 5.21% 0 5.21%;
    min-width: 687px;
    height: 571px;
    flex-wrap: wrap;
  }
  .img-services-container-1{
    align-content: space-between;
    flex-wrap: wrap;
    min-width: 655px;
    height: 390px;
    margin-top: 67px;
  }
  .img-services-container-1>div{
    width: 300px;
    height: 104px;
    padding-right: 35px;
  }
  .icon{
    margin-bottom: 44px;
    
  }
  .col-2{
    display: inline-block;
    padding-left: 16px;
  }
  .col-1{
    min-width: 687px;
    height: 153px;
  }
  .text-1{
    padding-top: 42px;
  }
 
  .portfolio-div{
    min-width: 768px;
    height: unset;
  }
  .portfolio-section{
    height: unset;
  }
  .portfolio-header{
    padding-top: 17px;
  }
  .portfolio-description{
    min-width: 695px;
    height: 60px;
  }
  .picture-block{
    width: 100%;
    height: unset;
    margin-top: 29px;
  }
  .portfolio-img{
    height: unset;
    width: 31.38%;
    margin-bottom: 20px;
  }
  .nav-filter{
    padding-top: 0px;
    margin-top: 15px;
  }
  .about-us-section-div{
    min-width: 768px;
    height: unset;
  }
  .about-us-section{
    margin-left: 40px;
    margin-right: 40px;
  }
  .about-us-desctiption{
    width: 688px;
    margin-top: 17px;
    margin-left: 0px;
    margin-bottom: 36px;
  }
  .about-us-header{
    padding-left: 0px;
    padding-top: 47px;
  }
  .team-container{
    width: 100%;
    margin: 0px;
    height: unset;
  }
  .team-member{
    width: 31.83%;
    height: unset;
    margin-bottom: 49px;
  }
  .team-member-name{
    margin-top: 7px;
  }
  .team-member>img{
    width: 100%;
    
  }
  .team-member-description{
    width: 219px;
    height: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .team-member-contacts{
    margin-top: 4px;
  }
  .main_section{
    
    height: 625.21px;
  }
  .main_wrapper{
    margin: 0;
    height: 625.21px;
    max-width: unset;
  }
  .main_wrapper h1{
    margin-left: 5.47%;
    margin-right: 66.28%;
    height: 40px;
    padding-top: 53px;

  }
  .main_wrapper_text{
    height: 96px;
    margin-left: 5.47%;
    margin-right: 5.46%;
    padding-top: 13px;
  }
  .flex_content form{
    width: 63.87%;
    height: 309px;
  }
  form input{
    width: 100%;
    height: 38px;
    margin-bottom: 9px;
  }
  form textarea{
    width: 100%;
    height: 159px;
  }
  .content_button {
    width: 136px;
    height: 38px;
    margin-top: 0px;
    
  }
  .information_wrapper{
    width: 31.93%;
    height: 225px;
  }
  .flex_content{
    margin-left: 5.47%;
    margin-right: 5.46%;
    margin-top: 20px;
    
  }
  .information_wrapper h3{
    width: 221px;
    height: 15px;
  }
  .information_text{
    height: 142px;
  }
  .contac_info_div{
    width: 148px;
    height: 63px;
  }
  .location{
    padding-top: 0px;
  }
  .footer{
    height: 76px;
    
  }
  .footer_container{
    margin: 0px 40px 0px 40px;
  }
  .footer_container p {
        padding-top: 33px;
  }
  .social_footer{
    margin-top: 23px;
  }
}


@media (max-width:767px){
  .header{
    min-width: 375px;
    height: 71px;
    border-bottom: none;
  }
  .sandwich-container {
    position: absolute;
    visibility: visible;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
  }
  .container-nav li p span {
    display: none;
  }
  .turned{
    transform: rotate(90deg);
    z-index: 3;
  }
  .sandwich-visible{
    display:none;
  }
  .nav{
    position: absolute;
    width: 278px;
    height: 2000px;
    background-color: #2D303A;
    margin-top: 0px;
    z-index: 2;
  }
  .container-header {
    align-items: unset;
  }
  .container-nav{
    display: flex;
    flex-direction: column;
    margin-top: 232px;
    margin-left: 21px;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2.4px;
    background-color: white;
    margin: 6px 0;
    border-radius: 5px;
  }
  
  .singolo{
    position: static;
    margin:auto;
    margin-top: 25px;
    font-size: 19.6875px;
  }
  .slider {
    min-width: 375px;
    height: 218px;
    border-bottom: 2.21px solid rgb(234, 103, 107);
  }
  .slider-container {
    min-width: 375.49px;
    height: 218px;
  }
  .first-slide {
    min-width: 375.49px;
    height: 218px;
    width: 100%;
  }
  .second-slide-phone{
    min-width: 375.49px;
    height: 218px;
    width: 100%;
  }
  .iphone-vertical{
    width: 88.3px;
    height: 177.61px;
    margin-left: 41px;
    margin-top: 20px;
  }
  .iphone-black-vertical{
    width: 88.3px;
    height: 177.61px;
    margin-left: 41px;
    margin-top: 20px;
  }
  .iphone-horizontal{
    width: 177.84px;
    height: 88.35px;
    margin-left: 155px;
    margin-top: 65px;
  }
  .iphone-black-horizontal{
    width: 177.84px;
    height: 88.35px;
    margin-left: 155px;
    margin-top: 65px;
  }
  .chev {
    margin-left: 9px;
    margin-top: 97px;
  }
  .chev-2 {
    margin-left: 93.33%;
    margin-top: 98px;
  }
  .services{
    min-width: unset;
    height: 1033px;
    border-bottom: none;
  }
  .services-container {
    margin: auto;
    min-width: unset;
    width: 314px;
    height: 992px;
    flex-wrap: wrap;
  }
  .col-1 {
    min-width: unset;
    height: 268px;
  }
  .text-1 {
    padding-top: 27px;
  }
  .img-services-container-1{
    align-content: space-between;
    flex-wrap: wrap;
    min-width: unset;
    height: 699px;
    margin-top: 50px;
  }
  .img-services-container-1>div {
    width: unset;
    height: 104px;
    padding-right: 0px;
  }
  .portfolio-div{ 
    min-width: unset; 
    height: 844px;
    border-bottom: none;
  }
  .portfolio-section{
    height: unset;
    width: 84%;
    padding: 48px 8%;
  }
  .portfolio-header{
    padding-top: 5px;
  }
  .portfolio-description{
    min-width: unset; 
    height: unset;
  }
  .picture-block{
    width: 100%;
    height: unset;
    margin-top: 25px;
  }
  .portfolio-img:nth-child(n + 9) {
    display: none;
  }
  .portfolio-img{
    width: 47.63%;
    height: 128px;
    margin-bottom: 14px;
  }
  .about-us-section-div {
    min-width: 375px;
    height: unset;
    border-bottom: none;
}
.about-us-section {
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 33px;
}
.about-us-header {
  padding-left: 0px;
  padding-top: 33px;
}
.about-us-desctiption {
  width: unset; 
}
.team-container{
  flex-direction: column;
}
.team-member {
  width: 100%;
  height: unset;
  margin-bottom: 21px;
  margin-top: 18px;
}
.team-member-name {
  margin-top: 12px;
}
.team-member-description{
  width: unset;
}
.team-member-contacts {
  margin-top: -17px;
  margin-bottom: -10px;
}
.main_section {
  height: unset;
}
.main_wrapper {
  margin: 0;
  height: unset;
  max-width: unset;
}
.main_wrapper h1 {
  margin-left: 8.27%;
  margin-right: 8%;
  height: unset;
  padding-top: 44px;
}
.main_wrapper_text {
  height: unset;
  margin-left: 8.27%;
  margin-right: 8%;
  padding-top: 13px;
}
.flex_content {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 56px;
  flex-direction: column;
}
.flex_content form {
  width: 100%;
  height: unset;
}
form input {
  width: 100%;
  height: 38px;
  margin-bottom: 9px;
}
.content_button {
  width: 100%;
  height: 52px;
  margin-top: 8px;
}
.information_wrapper {
  width: unset; 
  height: unset; 
  padding-top: 32px;
}
.information_wrapper h3 {
  width: unset; 
  height: unset;
}
.information_text {
  height: unset; 
  padding-top: 3px;
}
.contac_info_div {
  width: unset; 
  height: unset; 
  padding-top: 19px;
  margin-bottom: 41px;
}
#message{
  width: 300px;
  overflow: hidden;
  margin: 330px auto;
  border: 2px solid black;
  text-align: center;
  background-color: coral;
}
.footer_container {
  margin: 0 112px;
}
.footer_container p {
  display: none;
}
}
@media (max-width:374px){
  .slider{
    width: 374px;
  }
  .services{
    width: 374px;
  }
  .portfolio-div{
    width: 374px;
  }
  .about-us-section-div{
    width: 374px;
  }
  .main_section{
    width: 374px;
  }
  .footer{
    width: 374px;
  }
  
}